/* DetalleProyecto */
/* Título */
.detalle-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--violeta-oscuro);
  margin-bottom: 0.5rem;
}

/* Subtítulo categoría/estado */
.detalle-subtitle {
  text-align: center;
  font-size: 1rem;
  color: var(--violeta-oscuro);
  margin-bottom: 1.5rem;
}

/* Tabla */
.detalle-table {
  max-width: 1000px;
  margin: 2rem auto; 
  padding: 2rem 3rem;
  background: linear-gradient(
    to right,
    var(--violeta-medio),
    var(--violeta-claro),
    var(--violeta-medio)
  );
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.detalle-table th {
  background: linear-gradient(
    to center,
    var(--violeta-medio),
    var(--violeta-claro),
    var(--violeta-medio)
  );
  color: white;
  text-align: center;
  padding: 0.8rem;
  width: 25%;
}

.detalle-table td {
  background: linear-gradient(
    to center,
    var(--violeta-claro),
    #fff,
    var(--violeta-claro)
  );
  padding: 1rem;
  color: var(--violeta-oscuro);
}

/* Botón recursos */
.btn-recurso {
  background: linear-gradient(
    to top,
    var(--violeta-claro),
    var(--violeta-medio)
  );
  color: var(--violeta-oscuro);
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 500;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.btn-recurso:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(100, 50, 150, 0.3);
  background: linear-gradient(
    to right,
    var(--violeta-medio),
    var(--violeta-oscuro)
  );
}

/* Botón volver */
.btn-volver {
  margin: 2rem auto 0 auto;
  background: linear-gradient(
    to right,
    var(--violeta-medio),
    var(--violeta-oscuro)
  );
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn-volver:hover {
  transform: scale(1.05);
  background: linear-gradient(
    to right,
    var(--violeta-oscuro),
    var(--violeta-medio)
  );
}

@media (max-width: 768px) {
  .detalle-table {
    width: 95%;
    font-size: 0.9rem;
  }
}
